@page
@model IndexPageModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    Basic information about the web demos
</h1>
<p class="text-info">
    Website contains demos for conference Sinergija 2022, Belgrade, Serbia. It focus on leveraging Kubernetes client libraries to
    enhance the workflow and integrate functionality of K8S cluster whenever you are on-prem or in cloud or in hosted environment.
    <br />
    <br />
    With that in mind demo website showcases:
</p>
<ul>
    <li>use Kubernetes API to get resources based on RBAC rules</li>
    <li>integrate API with own solutions and add mix native / cloud functionalities</li>
    <li>provide options to deploy apps and programmatically control lifecycle events</li>
</ul>
<p class="text-info">
    Source code is available for download
</p>
<a class="btn btn-primary btn-lg"
   href="https://github.com/vrhovnik/sinergija-2022-demos"
   target="_blank">
    here <i class="fas fa-arrow-down"></i>
</a>