@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Check <a href="http://www.microsoft.com/en-us/policy">Microsoft Policy</a> for more information.</p>